html {
  background: #ffffff;
}
body {
  margin: 0 auto;
  .banner1 {
    background: url("../media/banner1.jpg") no-repeat;
    background-size: 100%;
  }
  section {
    -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
    max-width: 1920px;
    margin: 0 auto;
    .firstBlock {
      padding-top: 5%;
      header {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 3%;
        margin-left: 2%;
        margin-right: 2%;
        .header-logo {
          width: 49%;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          img {
            width: 80%;
          }
        }
        .navigationBar {
          width: 50%;
          display: inline-block;
          vertical-align: middle;
          color: white;
          font-weight: 300;
          font-size: 2vw;
          text-align: right;
          a {
            margin: 3%;
          }
        }
      }
      hr {
        max-width: 1920px;
        border-color: 1px solid rgb(255, 255, 255);
        width: 100%;
      }
      .header-slogan {
        width: 50%;
        margin-left: auto;
        margin-right: 2%;
        h6 {
          text-align: right;
          text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
          margin-right: 2%;
          margin-top: 35%;
          margin-bottom: 35%;
        }
      }
      .header-subtitle {
        text-align: center;
        height: 100%;
        position: relative;
        h6 {
          text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
        }
        img {
          width: 7%;
          margin: 2%;
        }
      }
    }
  }
}
